<a href="https://colab.research.google.com/github/arthik1699/sample_example-/blob/main/Data_690_session02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
Data690_Session02

NameError: ignored

Data_690_session_02

- date - 9/8/2022

In [ ]:


years = "1/11/1997 1991 2000 1969 1999 1998 1993 1996 1999 1997 1996 1998 1995 1999 1999 1997 1996 1996 1997 1995 1997 1999 2000"

print("Birth Years of Students ", years)

Birth Years of Students  1/11/1997 1991 2000 1969 1999 1998 1993 1996 1999 1997 1996 1998 1995 1999 1999 1997 1996 1996 1997 1995 1997 1999 2000

In [ ]:
type(years)

str

In [ ]:
years_split = years.split(" ")
print(years_split)

['1/11/1997', '1991', '2000', '1969', '1999', '1998', '1993', '1996', '1999', '1997', '1996', '1998', '1995', '1999', '1999', '1997', '1996', '1996', '1997', '1995', '1997', '1999', '2000']

In [ ]:
x =  ["manish", "arthi", "honey", "jai"]
type(x)

list

In [ ]:
y = [2.4, 12, -7, 11, 6]
type(y)

list

In [ ]:
total = 0

for number in y:
    total = total+number

print("Sum of y = ", total)

print("Length of the list is = ", len(y))

print("Mean of the list is = ", total/len(y))

Sum of y =  24.4
Length of the list is =  5
Mean of the list is =  4.88

In [ ]:
y[0]

2.4

In [ ]:
abandoned_list = years_split.pop(0)

print(abandoned_list)

1/11/1997

In [ ]:
print(years_split)

['1991', '2000', '1969', '1999', '1998', '1993', '1996', '1999', '1997', '1996', '1998', '1995', '1999', '1999', '1997', '1996', '1996', '1997', '1995', '1997', '1999', '2000']

In [ ]:
total = 0;

for year in years_split:
    total = total + year

In [ ]:
#to find the cuurent year in python
from datetime import date

current_year = date.today().year
print(current_year)

2022

In [ ]:
from datetime import date

current_year = date.today().year
print(current_year)

total = 0;

for birth_year in years_split:
    age = current_year - int(birth_year)
    total = total + age



print("Total age is", total)

2022
Total age is 578

In [ ]:
average_age = total / len(years_split)

print("Average age is", average_age)

Average age is 26.272727272727273

In [ ]:
years = "1/11/1997 1991 2000 1969 1999 1998 1993 1996 1999 1997 1996 1998 1995 1999 1999 1997 1996 1996 1997 1995 1997 1999 2000"

# Approach 2

In [18]:
years = "1/11/1997 1991 2000 1969 1999 1998 1993 1996 1999 1997 1996 1998 1995 1999 1999 1997 1996 1996 1997 1995 1997 1999 2000"

years_split = years.split(" ")
print(years_split)

['1/11/1997', '1991', '2000', '1969', '1999', '1998', '1993', '1996', '1999', '1997', '1996', '1998', '1995', '1999', '1999', '1997', '1996', '1996', '1997', '1995', '1997', '1999', '2000']

In [19]:
years_split[0] = "1997"

print(years_split)

['1997', '1991', '2000', '1969', '1999', '1998', '1993', '1996', '1999', '1997', '1996', '1998', '1995', '1999', '1999', '1997', '1996', '1996', '1997', '1995', '1997', '1999', '2000']

In [20]:
from datetime import date

current_year = date.today().year
print(current_year)

total = 0;

for birth_year in years_split:
    age = current_year - int(birth_year)
    total = total + age



print("Total age is", total)


average_age = total / len(years_split)

print("Average age is", average_age)

2022
Total age is 603
Average age is 26.217391304347824

# Approach 3 - Handling exceptions

In [21]:
years = "1/11/1997 1991 2000 1969 1999 1998 1993 1996 1999 1997 1996 1998 1995 1999 1999 1997 1996 1996 1997 1995 1997 1999 2000"

years_split = years.split(" ")
print(years_split)

['1/11/1997', '1991', '2000', '1969', '1999', '1998', '1993', '1996', '1999', '1997', '1996', '1998', '1995', '1999', '1999', '1997', '1996', '1996', '1997', '1995', '1997', '1999', '2000']

In [24]:
from datetime import date

current_year = date.today().year
print(current_year)

total = 0;
count = 0
for birth_year in years_split:
    try:
        year_int = int(birth_year)
    except:
        continue

  
    age = current_year - year_int
    total = total + age
    count = count + 1



print("Total age is", total)

print("Count of Students is", count)


average_age = total/count

print("Average age is", average_age)

2022
Total age is 578
Count of Students is 22
Average age is 26.272727272727273

In [28]:
years = "1/11/1997 1991 2000 1969 1999 1998 1887 1996 1999 1997 1996 2016 1995 1999 1999 1997 1996 1996 1997 1995 1997 1999 2000"

years_split = years.split(" ")
print(years_split)





from datetime import date

current_year = date.today().year
print(current_year)

total = 0;
count = 0
for birth_year in years_split:
    try:
        year_int = int(birth_year)
    except:
        continue

  
    age = current_year - year_int

    if age>80:
      print("Skip this person age>80", age)
      continue
    elif age<10:
      print("Skip this kid's age<10", age)
      continue
    
    total = total + age
    count = count + 1



print("Total age is", total)

print("Count of Students is", count)


average_age = total/count

print("Average age is", average_age)

['1/11/1997', '1991', '2000', '1969', '1999', '1998', '1887', '1996', '1999', '1997', '1996', '2016', '1995', '1999', '1999', '1997', '1996', '1996', '1997', '1995', '1997', '1999', '2000']
2022
Skip this person age>80 135
Skip this kid's age<10 6
Total age is 525
Count of Students is 20
Average age is 26.25

# Misc

In [31]:
count = 0

while True:
  if count == 10:
    break

  try:
    x = int(input("Enter an integer : "))
    count = count + 1
  except:
      print("You need to enter an integer, please try again")

Enter an integer : 1
Enter an integer : 2
Enter an integer : 3
Enter an integer : 4
Enter an integer : 5
Enter an integer : 6
Enter an integer : 7
Enter an integer : 8
Enter an integer : 9
Enter an integer : 10