<a href="https://colab.research.google.com/github/arthik1699/sample_example-/blob/main/Data_690_session02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
Data690_Session02

NameError: ignored

Data_690_session_02

- date - 9/8/2022

In [2]:


years = "1/11/1997 1991 2000 1969 1999 1998 1993 1996 1999 1997 1996 1998 1995 1999 1999 1997 1996 1996 1997 1995 1997 1999 2000"

print("Birth Years of Students ", years)

Birth Years of Students  1/11/1997 1991 2000 1969 1999 1998 1993 1996 1999 1997 1996 1998 1995 1999 1999 1997 1996 1996 1997 1995 1997 1999 2000

In [3]:
type(years)

str

In [6]:
years_split = years.split(" ")
print(years_split)

['1/11/1997', '1991', '2000', '1969', '1999', '1998', '1993', '1996', '1999', '1997', '1996', '1998', '1995', '1999', '1999', '1997', '1996', '1996', '1997', '1995', '1997', '1999', '2000']

In [7]:
x =  ["manish", "arthi", "honey", "jai"]
type(x)

list

In [8]:
y = [2.4, 12, -7, 11, 6]
type(y)

list

In [9]:
total = 0

for number in y:
    total = total+number

print("Sum of y = ", total)

print("Length of the list is = ", len(y))

print("Mean of the list is = ", total/len(y))

Sum of y =  24.4
Length of the list is =  5
Mean of the list is =  4.88

In [10]:
y[0]

2.4

In [11]:
abandoned_list = years_split.pop(0)

print(abandoned_list)

1/11/1997

In [12]:
print(years_split)

['1991', '2000', '1969', '1999', '1998', '1993', '1996', '1999', '1997', '1996', '1998', '1995', '1999', '1999', '1997', '1996', '1996', '1997', '1995', '1997', '1999', '2000']

In [ ]:
total = 0;

for year in years_split:
    total = total + year

In [14]:
#to find the cuurent year in python
from datetime import date

current_year = date.today().year
print(current_year)

2022

In [16]:
from datetime import date

current_year = date.today().year
print(current_year)

total = 0;

for birth_year in years_split:
    age = current_year - int(birth_year)
    total = total + age



print("Total age is", total)

2022
Total age is 578

In [17]:
average_age = total / len(years_split)

print("Average age is", average_age)

Average age is 26.272727272727273